body {
    background: url(../image/background.jpg);    
}
h1 {
    color: #656565;
}
h2 {
    color: navy;
}
h3 {
    color: rgb(212, 133, 100);
}
h4 {
    color: hsl(0, 90%, 30%);
}
h5 {
    color: hsla(3, 70%, 77%, 0.8);
}
p {
    font-weight: bold;
    line-height: 1.7;
    font-size: 14px;
    color: rgba(59, 67, 222, 0.9);
}