* {
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif; }

.header {
  margin-bottom: 70px; }
  .header__topmost-content {
    background: #7AC751; }
  .header__topmost-content-inner {
    padding: 15px 0;
    display: flex;
    justify-content: space-between; }
  .header__greeting {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF; }
  .header__tel {
    color: #FFFFFF;
    text-decoration: none; }
  .header__top-content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .header__search {
    display: flex; }
  .header__search-input {
    border: 2px solid #7AC751;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 12px;
    width: 400px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #555555; }
    .header__search-input::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #B0B0B0;
      font-family: 'Rubik'; }
  .header__search-button {
    border-radius: 0 5px 5px 0;
    border: none;
    width: 50px;
    height: 44px;
    cursor: pointer;
    background: url(../image/search.png) center center no-repeat #7AC751; }
    .header__search-button:hover {
      background-color: #FF7518; }
  .header__icons {
    width: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__icon {
    display: block; }
  .header__menu {
    background: none;
    border: none;
    display: none;
    padding: 0;
    cursor: pointer; }
  .header__middle-content {
    background: #F7F8FA; }
  .header__middle-content-inner {
    display: flex;
    align-items: center; }
  .header__catalog-button {
    display: block;
    width: 267px;
    height: 66px;
    border: none;
    padding: 24px 45px;
    background: #7AC751;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer; }
    .header__catalog-button:hover {
      background: #FF7518; }

.main-align {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.logo {
  display: block;
  background: url(../image/logo.png) no-repeat;
  width: 148px;
  height: 45px; }

.main-pages-menu__links {
  display: flex; }
.main-pages-menu__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #555555;
  padding: 25px 64.5px;
  font-weight: 400;
  font-size: 16px; }
  .main-pages-menu__link:hover {
    background: #FF7518;
    color: #FFFFFF; }

.categories-menu-wrapper {
  position: relative; }

.categories-menu {
  display: block;
  background: #F7F8FA;
  position: absolute;
  top: 0; }
  .categories-menu__item {
    border: 1px solid #E3E3E3; }
    .categories-menu__item:not(:last-child) {
      border-bottom: none; }
  .categories-menu__link {
    display: block;
    width: 265px;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    text-decoration: none; }
    .categories-menu__link:hover {
      color: #FF7518; }

.banner {
  background: url(../image/main_banner.jpg) no-repeat center;
  background-size: cover;
  min-height: 236px;
  width: calc(100% - 267px);
  padding: 40px 30px 20px 40px;
  margin-left: 267px; }
  .banner__subtitle {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #7AC751;
    margin-bottom: 10px; }
  .banner__title {
    font-weight: 500;
    font-size: 34px;
    color: #2F2F2F;
    margin-bottom: 20px; }
  .banner__offer {
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #555555;
    margin-bottom: 20px; }

.button-main {
  display: block;
  width: 140px;
  background: rgba(122, 199, 81, 0.85);
  border-radius: 5px;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border-top: 5px solid #89cd64;
  border-left: 5px solid #89cd64;
  border-right: 5px solid #6bc13e;
  border-bottom: 5px solid #6bc13e;
  transition: 1s; }
  .button-main:hover {
    box-shadow: 7px 7px 3px #fe6600, -7px -7px 3px #ffe0cb;
    border: 5px solid #7AC751; }

.toggle,
.active {
  display: block; }

.closed {
  display: none; }

.advantage {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 70px; }
  .advantage__column {
    width: 25%;
    padding: 0 15px; }
  .advantage__title {
    position: relative;
    padding-top: 80px;
    font-weight: 500;
    font-size: 20px;
    color: #555555;
    margin-bottom: 20px;
    text-align: center; }
    .advantage__title::before {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;
      left: calc(50% - 29px);
      top: 0; }
  .advantage__text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    text-align: center; }

.delivery::before {
  background: url(../image/free-delivery.png) no-repeat; }

.gift-card::before {
  background: url(../image/gift-card.png) no-repeat; }

.payment::before {
  background: url(../image/wallet.png) no-repeat; }

.support::before {
  background: url(../image/support.png) no-repeat; }

.title {
  font-weight: 500;
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin-bottom: 30px; }

.category {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 70px; }
  .category__column {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 50px; }
  .category__item {
    display: flex;
    align-items: flex-end;
    height: 250px;
    background-size: cover; }
  .category__title {
    width: 100%;
    background: rgba(122, 199, 81, 0.85);
    border-top: 5px solid #89cd64;
    border-left: 5px solid #89cd64;
    border-right: 5px solid #6bc13e;
    border-bottom: 5px solid #6bc13e; }
    .category__title:hover {
      background: #FF7518; }
  .category__link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 25px; }

.sofas {
  background: url(../image/sofa.jpg) center; }

.tables {
  background: url(../image/table.jpg) center; }

.chairs {
  background: url(../image/chair.jpg) center; }

.benches {
  background: url(../image/bench.jpg) center; }

.shelves {
  background: url(../image/shelves.jpg) center; }

.company {
  display: flex;
  margin-bottom: 70px; }
  .company__column-video {
    width: calc(50% - 20px);
    margin-right: 40px; }
  .company__video {
    height: 0;
    position: relative;
    padding-bottom: 75%; }
  .company__iframe-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .company__column-content {
    width: calc(50% - 20px); }
  .company__text {
    font-weight: 400;
    font-size: 16px;
    color: #555555; }

.interior-image {
  position: relative;
  margin-bottom: 70px; }
  .interior-image__item {
    display: block;
    width: 100%;
    border-top: 15px solid #89cd64;
    border-left: 15px solid #89cd64;
    border-right: 15px solid #6bc13e;
    border-bottom: 15px solid #6bc13e; }
  .interior-image__pointer {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #7AC751;
    cursor: pointer;
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; }
    .interior-image__pointer:hover {
      background: #FF7518; }
  .interior-image__product {
    display: none;
    position: absolute;
    width: 20%;
    padding: 10px;
    background: #FF7518;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px; }
  .interior-image__product-title {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px; }
    .interior-image__product-title:hover {
      text-decoration: underline; }

.sofa-product {
  top: 27%;
  left: 26%; }

.small-table-product {
  top: 37%;
  left: 69%; }

.coffee-table-product {
  top: 46%;
  left: 4%; }

.active-product {
  display: block; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }
.sofa {
  top: 42%;
  left: 47%; }

.small-table {
  top: 52%;
  left: 90%; }

.coffee-table {
  top: 61%;
  left: 25%; }

.product {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 35px; }
  .product__column {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 35px; }
  .product__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .product__link {
    display: block;
    width: 100%;
    margin-bottom: 15px; }
  .product__image {
    width: 100%; }
  .product__title {
    margin-bottom: 15px; }
  .product__name-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #555555; }
    .product__name-link:hover {
      color: #FF7518; }
  .product__price {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: #7AC751;
    margin-bottom: 15px; }

.link {
  display: block;
  text-decoration: none;
  width: 140px;
  background: rgba(122, 199, 81, 0.85);
  border-radius: 5px;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  border-top: 5px solid #89cd64;
  border-left: 5px solid #89cd64;
  border-right: 5px solid #6bc13e;
  border-bottom: 5px solid #6bc13e;
  transition: 1s; }
  .link:hover {
    box-shadow: 7px 7px 3px #fe6600, -7px -7px 3px #ffe0cb;
    border: 5px solid #7AC751; }

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px; }
  .partners__item {
    width: 25%;
    height: 100px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center; }

.wannabiz {
  background: #143646; }

.tapgerine {
  background: #F48B30; }

.three-d-look {
  background: #9E4DC3; }

.orangear {
  background: #FD9339; }

.adtelligent {
  background: #E2E2E4; }

.clickky {
  background: #C71C36; }

.eco-leasing {
  background: #DCF3F9; }

.infra-tek {
  background: #EAEAEA; }

.subscription-form__items {
  display: flex;
  justify-content: center;
  margin-bottom: 70px; }
.subscription-form__input-email {
  width: 400px;
  padding: 15px;
  border: 1px solid #E3E3E3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  outline: none; }
  .subscription-form__input-email::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #B0B0B0;
    font-family: 'Rubik'; }
.subscription-form__button {
  width: 140px;
  background: #7AC751;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  border: none; }
  .subscription-form__button:hover {
    background: #FF7518; }

.footer {
  background: #F7F8FA;
  padding: 50px 0;
  border-top: 5px solid #7AC751;
  border-bottom: 35px solid #7AC751; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer__logo {
    margin-bottom: 35px; }
  .footer__text {
    max-width: 290px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    margin-bottom: 35px; }

.social-networks {
  display: flex; }
  .social-networks__item:not(:last-child) {
    margin-right: 30px; }
  .social-networks__link {
    display: block; }
  .social-networks__network {
    display: block;
    width: 20px;
    height: 20px; }

.facebook {
  background: url(../image/icon_facebook.png) no-repeat center; }

.instagram {
  background: url(../image/icon_instagram.png) no-repeat center; }

.twitter {
  background: url(../image/icon_twitter.png) no-repeat center; }

.google {
  background: url(../image/icon_google.png) no-repeat center; }

.vertical-menu {
  margin: 0 -15px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 17px; }
  .vertical-menu__column {
    padding: 0 15px; }
  .vertical-menu__title {
    font-weight: 600;
    font-size: 16px;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .vertical-menu__item {
    margin-bottom: 20px; }
  .vertical-menu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #555555; }
    .vertical-menu__link:hover {
      color: #FF7518; }

/* contacts */
.main-content-contacts__text {
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  text-align: center;
  margin-bottom: 70px; }

.title-main {
  font-weight: 500;
  font-size: 34px;
  color: #2F2F2F;
  text-align: center;
  margin-bottom: 35px; }

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px; }

.contacts-list {
  width: calc(45% - 15px);
  margin-right: 30px; }
  .contacts-list__address {
    margin-bottom: 15px;
    border-bottom: 5px solid #7AC751; }
  .contacts-list__address-item {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    color: #555555; }
  .contacts-list__data {
    margin-bottom: 15px;
    border-bottom: 5px solid #7AC751; }
  .contacts-list__tel {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #555555; }
  .contacts-list__email {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #555555; }

.form-questions {
  width: calc(55% - 15px); }

.form {
  background: #F7F8FA;
  border-radius: 5px;
  padding: 20px; }
  .form__fieldset {
    margin-bottom: 35px; }
  .form__legend {
    font-weight: 400;
    font-size: 18px;
    color: #555555;
    margin-bottom: 15px; }
  .form__input, .form__select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #555555;
    border: 1px solid #E3E3E3;
    font-family: 'Rubik'; }
    .form__input::placeholder, .form__select::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #B0B0B0;
      font-family: 'Rubik'; }
  .form__select {
    padding-left: 11px; }
  .form__textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    border: 1px solid #E3E3E3;
    resize: none; }
    .form__textarea::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #B0B0B0;
      font-family: 'Rubik'; }
  .form__variants:not(:last-child) {
    margin-bottom: 15px; }
  .form__label {
    display: inline-block;
    width: 150px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    margin-right: 15px; }

.map {
  overflow: hidden;
  padding-bottom: 42%;
  position: relative;
  height: 0;
  margin-bottom: 70px; }
  .map__iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

/* sofas */
.main-content-sofas {
  margin-bottom: 70px; }

.filter {
  display: flex;
  margin-bottom: 70px;
  flex-wrap: wrap;
  align-items: center; }
  .filter__item {
    width: 140px;
    margin-right: 20px; }
  .filter__label {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #7AC751; }
  .filter__range-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px; }
  .filter__range-label {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: #7AC751;
    margin-right: 10px; }

#sofa-type,
#sort {
  width: 100%;
  border: 1px solid #7AC751;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  padding: 5px;
  border-radius: 5px; }

#range {
  height: 25px; }

#input-value {
  display: block;
  height: 18px;
  border: none;
  background: none;
  width: 60px;
  font-weight: 600;
  font-size: 16px;
  color: #555555;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

.page {
  display: flex;
  justify-content: center; }
  .page__item {
    margin-right: 10px; }
  .page__link {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    border: 2px solid #7AC751;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #7AC751;
    text-align: center; }
    .page__link:hover {
      background: #7AC751;
      color: #FFFFFF; }

.active-page {
  background: #FF7518;
  color: #FFFFFF; }
  .active-page:hover {
    background: #FF7518; }

/* cart */
.cart {
  position: relative;
  width: 55%;
  margin: 50px auto;
  background: #F7F8FA;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 8px 2px rgba(85, 85, 85, 0.5); }
  .cart__close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 20px;
    padding: 0;
    top: 20px;
    right: 20px; }
    .cart__close-button::before, .cart__close-button::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 18px;
      background: #7AC751;
      transform: rotate(45deg);
      bottom: 0; }
    .cart__close-button::after {
      transform: rotate(-45deg); }
  .cart__order {
    margin-bottom: 15px; }
  .cart__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7AC751;
    padding: 5px 0;
    margin-bottom: 5px; }
  .cart__image {
    width: 100px; }
  .cart__main-content {
    width: 220px; }
  .cart__title {
    margin-bottom: 25px; }
  .cart__name-link {
    text-decoration: none;
    color: #555555;
    font-weight: 400;
    font-size: 18px; }
  .cart__count-list {
    position: relative; }
  .cart__quantity-button {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 2px solid #7AC751;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    background: #FFFFFF;
    color: #7AC751;
    text-align: center;
    cursor: pointer;
    margin-right: 15px; }
    .cart__quantity-button:hover {
      color: #FFFFFF;
      background: #7AC751; }
  .cart__quantity-value {
    padding: 0;
    border: none;
    background: none;
    width: 15px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    font-family: 'Rubik'; }
  .cart__remove-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    top: 10px; }
    .cart__remove-button::before, .cart__remove-button::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 15px;
      background: #555555;
      bottom: 3px; }
    .cart__remove-button::before {
      transform: rotate(45deg); }
    .cart__remove-button::after {
      transform: rotate(-45deg); }
  .cart__price {
    width: 55px;
    color: #555555;
    font-weight: 400;
    font-size: 18px; }
  .cart__total-sum {
    display: block;
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    margin-bottom: 35px; }
  .cart__action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .cart__continue-button {
    display: block;
    background: none;
    border: none;
    color: #7AC751;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 0; }
    .cart__continue-button:hover {
      color: #FF7518; }

/* checkout */
.main-content-checkout {
  margin-bottom: 70px; }

.checkout {
  display: flex;
  flex-wrap: wrap; }

.form-checkout {
  width: calc(55% - 15px);
  margin-right: 30px; }

.order-checkout {
  width: calc(45% - 15px); }

.order {
  background: #F7F8FA;
  border-radius: 5px;
  padding: 20px; }
  .order__item {
    display: flex;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #555555; }
  .order__image {
    width: 100px;
    margin-right: 30px; }
  .order__title {
    margin-bottom: 15px; }
  .order__quantity-value {
    display: block;
    padding: 0;
    border: none;
    background: none;
    width: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    font-family: 'Rubik';
    margin-bottom: 15px; }
  .order__total-sum {
    font-weight: 400;
    font-size: 16px;
    color: #555555; }

/* sofa-barcelona */
.main-content-sofa-barcelona {
  margin-bottom: 70px; }

.product-item__title {
  text-align: left; }
.product-item__top-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 5px solid #7AC751; }
.product-item__image-wrapper {
  width: calc(50% - 50px);
  margin-right: 100px; }
.product-item__image {
  width: 100%; }
.product-item__data {
  width: calc(50% - 50px); }
.product-item__price {
  display: block;
  font-weight: 600;
  font-size: 28px;
  color: #7AC751;
  margin-bottom: 35px; }
.product-item__availability {
  display: block;
  font-weight: 600;
  font-size: 24px;
  color: #FF7518;
  margin-bottom: 35px; }
.product-item__feature {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: #555555;
  margin-bottom: 15px; }
.product-item__fabric {
  margin-bottom: 35px; }
.product-item__color-button {
  width: 44px;
  height: 44px;
  background: none;
  border: 2px solid #555555;
  padding: 0;
  margin-right: 15px;
  cursor: pointer; }
  .product-item__color-button:hover {
    border: 2px solid #FF7518; }
.product-item__text {
  font-weight: 400;
  font-size: 18px;
  color: #555555;
  margin-bottom: 35px; }
.product-item__text-image {
  display: block;
  margin: 0 auto 35px; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table__title {
    border: 2px solid #F7F8FA;
    padding: 15px;
    background: #7AC751;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF; }
  .table__property, .table__value {
    font-size: 18px;
    color: #555555;
    border: 2px solid #F7F8FA;
    padding: 15px; }
  .table__property {
    font-weight: 500; }
  .table__value {
    font-weight: 400; }

.chosen {
  border: 2px solid #7AC751; }

.chosen:hover {
  border: 2px solid #7AC751; }

@media screen and (max-width: 1300px) {
  .main-align {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px; }

  .main-pages-menu__link {
    padding: 25px; }

  .product-item__image-wrapper {
    width: calc(50% - 15px);
    margin-right: 30px; }
  .product-item__data {
    width: calc(50% - 15px); } }
@media screen and (max-width: 1025px) {
  .banner {
    background: url(../image/main_banner_2.jpg) no-repeat center; }
    .banner__title {
      font-size: 28px; }

  .title-main,
  .title {
    font-size: 26px; }

  .product__column {
    width: 33.33%; }

  .product-item__price, .product-item__availability, .product-item__fabric, .product-item__text {
    margin-bottom: 25px; } }
@media screen and (max-width: 900px) {
  .header__search-input {
    width: 350px; }

  .main-pages-menu__link {
    padding: 25px 13px; }

  .banner {
    background: url(../image/main_banner_3.jpg) no-repeat center;
    padding: 30px 20px 10px 30px; }

  .advantage__column {
    width: 50%;
    margin-bottom: 50px; }

  .category__column {
    width: 50%; }

  .company {
    display: block; }
    .company__column-video {
      width: 100%;
      margin-bottom: 40px; }
    .company__column-content {
      width: 100%; }

  .partners__item {
    width: 50%; }

  .cart {
    width: 80%; }

  .product-item__price, .product-item__availability, .product-item__fabric, .product-item__text {
    margin-bottom: 15px; }
  .product-item__price {
    font-size: 22px; }
  .product-item__availability {
    font-size: 18px; }
  .product-item__feature, .product-item__text {
    font-size: 16px; }

  .table__property, .table__value {
    font-size: 16px; } }
@media screen and (max-width: 767px) {
  .header__search {
    order: 0;
    width: 100%;
    margin-bottom: 20px; }
  .header__icons {
    order: 1;
    width: 20%; }
  .header__menu {
    display: block; }
  .header__middle-content {
    position: absolute;
    background: none; }
  .header__middle-content-inner {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0; }

  .logo {
    order: 2; }

  .main-pages-menu {
    background: #97d378; }
    .main-pages-menu__links {
      flex-direction: column; }
    .main-pages-menu__item {
      border: 1px solid #7AC751; }
      .main-pages-menu__item:not(:last-child) {
        border-bottom: none; }
    .main-pages-menu__link {
      width: 265px;
      padding: 15px 25px;
      color: #FFFFFF; }

  .categories-menu {
    top: 66px; }

  .banner {
    width: 100%;
    margin-left: 0;
    background: url(../image/main_banner_4.jpg) no-repeat center; }

  .interior-image__product {
    font-size: 14px; }
  .interior-image__product-title {
    font-size: 14px; }

  .product__column {
    width: 50%; }

  .toggle {
    display: none; }

  .active {
    display: block; }

  .footer__text {
    max-width: 200px; }

  .vertical-menu {
    width: 70%; }

  .order__image {
    width: 100px;
    margin-right: 15px; } }
@media screen and (max-width: 650px) {
  .header__icons {
    width: 30%; }

  .banner {
    background: #f2fbff;
    padding: 20px; }

  .interior-image__pointer {
    display: none; }
  .interior-image__product {
    display: none; }

  .partners__item {
    width: 100%; }

  .subscription-form__input-email {
    width: 270px; }

  .footer__content {
    width: 100%;
    margin-bottom: 35px; }
  .footer__text {
    max-width: 100%; }

  .vertical-menu {
    width: 100%; }

  .contacts-list {
    width: 100%;
    margin-right: 0;
    margin-bottom: 70px; }

  .form-questions {
    width: 100%; }

  .filter {
    display: block; }
    .filter__item {
      margin-bottom: 35px; }

  .cart {
    width: 100%; }
    .cart__image {
      width: 80px; }
    .cart__main-content {
      width: 195px; }
    .cart__name-link, .cart__price, .cart__total-sum {
      font-size: 16px; }

  .form-checkout {
    width: 100%;
    margin-right: 0;
    order: 1; }

  .order-checkout {
    width: 100%;
    order: 0;
    margin-bottom: 35px; }

  .product-item__image-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px; }
  .product-item__data {
    width: 100%; }
  .product-item__price, .product-item__availability, .product-item__fabric, .product-item__text {
    margin-bottom: 35px; }
  .product-item__text-image {
    width: 100%; } }
@media screen and (max-width: 450px) {
  .main-align {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px; }

  .header__greeting {
    display: none; }
  .header__icons {
    width: 45%;
    order: 2; }
  .header__middle-content-inner {
    padding-right: 0; }
  .header__catalog-button {
    width: 250px; }

  .logo {
    width: 100%;
    order: 1;
    margin-bottom: 20px; }

  .main-pages-menu__link {
    width: 248px; }

  .categories-menu__link {
    width: 248px; }

  .banner__subtitle {
    font-size: 16px; }
  .banner__title {
    font-size: 24px; }
  .banner__offer {
    font-size: 20px; }

  .advantage__column {
    width: 100%; }

  .category__column {
    width: 100%; }

  .product__column {
    width: 100%; }

  .subscription-form__input-email {
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px; }
    .subscription-form__input-email::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #B0B0B0;
      font-family: 'Rubik'; }
  .subscription-form__button {
    width: 100px;
    font-size: 14px; }

  .vertical-menu {
    margin: 0 -10px; }
    .vertical-menu__column {
      padding: 0 10px; }
    .vertical-menu__title {
      font-size: 14px; }
    .vertical-menu__link {
      font-size: 14px; }

  .map {
    padding-bottom: 80%; }

  .cart__item {
    display: block; }
  .cart__count-list {
    margin-bottom: 25px; }
  .cart__action-buttons {
    display: block; }
  .cart__continue-button {
    margin-bottom: 35px; } }

/*# sourceMappingURL=style.css.map */
