table {
    border-collapse: collapse;
}
.letter-i {
    background: blue;
    width: 40px;
    height: 45px;    
}
.i-radius-top {
    border-radius: 15px 20px 0 0;    
}
.letter-e {
    background: red;
    width: 42px;
    height: 45px; 
}
.e-radius-top {
    border-top-left-radius: 20px;
}
.e-radius-side {
    border-radius: 0 30px 30px 0;
}
.letter-e-circle {
    background: blue;
    width: 42px;
    height: 45px;   
    border-radius: 30px; 
}
.i-radius-bottom {
    border-radius: 0 0 15px 10px;
}
.e-radius-bottom {
    border-bottom-left-radius: 15px;
}